<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        tools:targetApi="31">
        <activity
            android:name=".StudentViewPastCourses"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SignInActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Test.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label=" "
            android:parentActivityName=".SignInActivity" />
        <activity
            android:name=".StudentHomepageActivity"
            android:banner="@color/button_color"
            android:label="Home"
            android:parentActivityName=".SignInActivity" />
        <activity
            android:name=".StudentSearchCourse"
            android:banner="@color/button_color"
            android:label="Search Courses"
            android:parentActivityName=".SignInActivity" />
        <activity
            android:name=".StudentPopUpMenu"
            android:parentActivityName=".SignInActivity" />
        <activity
            android:name=".AdminWelcomePage"
            android:banner="@color/button_color"
            android:label="Home"
            android:parentActivityName=".SignInActivity" />
        <activity
            android:name=".AdminEditCourseActivity"
            android:banner="@color/button_color"
            android:label="Home"
            android:parentActivityName=".AdminWelcomePage" />
        <activity
            android:name=".AdminAddCourseActivity"
            android:banner="@color/button_color"
            android:label="Home"
            android:parentActivityName=".AdminWelcomePage" />
        <activity
            android:name=".StudentWelcomePage"
            android:banner="@color/button_color"
            android:label="Home"
            android:parentActivityName=".SignInActivity" />
    </application>

</manifest>